.book-manager {
    padding: 20px;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;

    /* Подравняването на Каталог-а */
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(58, 0, 20, 0.7)), url('../../../Images/Luthadel.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.book-manager input {
    margin: 5px;
    padding: 8px;
}

.book-manager button {
    margin: 5px;
    padding: 8px 16px;

    /* Стилизирането на бутона в Каталог-а */
    background-color: #fff;
    color: rgba(0, 0, 0, 1);
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

